/* aminaciones de elementos nav*/
@import url("dropdown.css");

*{ list-style: none;}

.nav-link{ position: relative;}

.nav-link::after{
  content: "";
  opacity: 0;
  transition: all 0.3s;
  height: 2px;
  width: 100%;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link:hover::after{ opacity: 1; }

/* Elemento more (mas elementos nav) */



